@import "base/base"; 
@import "base/animations";
@import "abstract/variables";

.container {
    height: 100vh;
    display: flex;
    width: 100%;
}

.divider {
    margin: 20px 0;
    background-color: $color-gray-l;
    border: none;
    height: 3px;
}

.info {
    width: 25%;
    background-color: $color-3;
    text-align: center;
    border: 3px solid $color-gray-l;

    &__title {
        font-size: 6vw;
        font-weight: 100;
        line-height: 1;
        border-radius: 5px;
        color: white;
        background-color: #2ee6e6;
        width: 95%;
        height: 12vh;
        margin: 20px auto;
        border: 3px solid $color-gray-l;
    }

    &__start {
        font-size: 2.5vw;
        padding: 5px;
        width: 80% !important;
        margin: 10px auto;
        background-color: $color-2;
        color: white;
        border: 3px solid $color-gray-l;
        border-radius: 100px;
        transition: all .2s ease-out;
    }

    &__difficulty {
        display: flex;
        width: 95%;
        margin: 0 auto;
        border-top: none;
        border-left: none;
        border-right: none;

        &-btn {
            border: none;
            display: inline-block;
            padding: 1rem 0;
            height: 5rem;
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
            width: 30%;
            margin: 0 calc(10% / 6) ;
            background-color: white;
            background-image: linear-gradient(90deg, transparent 0%, transparent 50%, $color-2 50%);
            background-size: 250%;
            transition-property: background, color;
            transition-duration: .3s;
            transition-timing-function: ease-in;
            cursor: pointer;
            border-radius: 1000px;
            &:hover {
                background-color: darken;
            }
        }
    }

    &__instruction {
        width: 90%;
        margin: 0 auto;
        height: 48vh;
        background-color: white;
        border: 3px solid $color-gray-l;
        border-radius: 5px;
    }
}

.board {
    width: 50%;
    height: 100vh;
    background-image: radial-gradient($color-1, white);
    
    // animation: colorBlast 2s cubic-bezier(0.87, 0, 0.13, 1);
}

.results {
    width: 25%;
    background-color: $color-3;
    text-align: center;
    border: 3px solid $color-gray-l;

    &__moves {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;

        &-box {
            background-color: $color-2;
            width: 42.5%;
            border: 3px solid $color-gray-l;
            border-radius: 5px;
            height: 15vh;
            &:hover {
                background-color: rgba(white, .4);
            }
        }

        &-output-1 {
            background-color: rgba($color-green, .8);
            height: 10vh;
            border-bottom: 2px solid $color-gray-l;
        }

        &-output-2 {
            background-color: rgba($color-red, .8);
            height: 10vh;
            border-bottom: 2px solid $color-gray-l;
        }

        &-output-label {
            font-size: 7rem;
            line-height: 1.3;
            color: white;
        }

        &-label {
            font-size: 2.5rem;
            line-height: 1.7;
            color: white;
        }
    }

    &__timer {
        width: 90%;
        height: 15vh;
        background-color: $color-2;
        color: white;
        margin: 20px auto;
        font-size: 14rem;
        line-height: .9;
        letter-spacing: .6rem;
        border-radius: 5px;
        border: 3px solid $color-gray-l;
        &-container {
            margin-left: 40px;
            margin-top: 10px;
        }
        & span {
            display: block;
            float: left;
        }
    }

    &__grade {
        position: relative;
        width: 90%;
        height: 55vh;
        background-color: transparent;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border: 3px solid $color-gray-l;
        border-radius: 5px;
        color: white;

        &:hover {
            background-color: rgba(white, .8);
            z-index: 2;
        }

        &-percent {
            font-size: 15rem;
            width: 100%;
            height: 33%;
            line-height: 1.2;
            background-color: $color-1;
        }
        &-letter {
            font-size: 40rem;
            line-height: .9;
            height: 67%;
            width: 100%;
            background-color: $color-2;
        }

        &-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            &:hover {
                background-color: rgba(white, .3);
                cursor: pointer;
            }
        }
    }
}

.node {
    margin: 0;
    font-size: 3.5vw;
    text-align: center;
    outline: none;
    color: $color-gray;
    border: 1px solid $color-gray;
    transition: all .2s ease-out;

    // animation: spinBottomRight .5s cubic-bezier(0.87, 0, 0.13, 1);

    &__correct {
        background-color: $color-green !important;
        color: white;
    }

    &__incorrect {
        background-color: white;
        color: $color-gray;
        &:focus {
            background-color: $color-red !important;
            color: white;
        }
    }

    &:not(.c0) {
        border-left: none;
    }

    &:not(.r0) {
        border-top:none;
    }

    &[class*=c] {
        width: calc(100%/9);
    }

    &[class*=r] {
        height: calc(100vh/9);
    }

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
        color: white;
        background-color: rgba($color-1, .9);
        transform: scale(.98);
    }
}

.btn {
    display: block;
    text-decoration: none;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .2);
    width: 100%;
    line-height: 1.5;

    &-active {
        background-position: 100%;
        color: white;
        border: 3px solid $color-gray-l;
        font-size: 1.8rem;
    }

    &:hover {
        box-shadow: .8rem .8rem .8rem rgba(0, 0, 0, .2);
    }

    &:active {
        box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .2);
        padding: 5px;
    }
}

.win {
    background-color: rgba(black, .9);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

    &__overlay {
        background-color: white;
        position: absolute;
        width: 80%;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 25px;
        &-btn {
            margin: 0 auto;
            background-color: transparent;
            border: none;
            font-size: 3rem;
            color: white;
            &:hover {
                color: rgba(white, .5);
                cursor: pointer;
            }
        }
    }
}