@keyframes  moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes  moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes  moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}

@keyframes fadeInDrop {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes spinBottomRight {
    0% {
        border: none;
        opacity: .4;
        transform: scale(.4);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }
}

@keyframes colorBlast {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}
