* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.7;
    overflow: hidden;
}

div {
    width: 100%;
    height: 100%;
    border: 1px solid #777;
}

#root-div {
    height: 100vh;
    display: flex;
}

#left-div {
    width: 25%;
    background-color: white;
    text-align: center;
    border: .5em solid aqua;
}

.title {
    font-size: 3.5vw;
    line-height: 1;
    background-color: white;
}

#center-div {
    width: 50%;
    background-color: beige;
}

#board-div {
    position: relative;
    width: 100%;
    margin: auto;
}

#board-div::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

#board-div .square-row {
    border: none;
    display: flex;
    height: 33.33%;
    width: 100%;
}

#board-div .square.square {
    padding: 1px;
    width: 33.33%;
    height: 100%;
}

#board-div .node-row {
    padding: 1px;
    border: none;
    display: flex;
    width: 100%;
    height: 33.33%;
}

#board-div .node {
    box-shadow: -.2rem -.2rem .2rem rgba(0, 0, 0, .2);
    border-top:none;
    border-left: none;
    width: 33.33%;
    height: 100%;
    font-size: 3.5vw;
    text-align: center;
    outline: none;

    animation: spinBottomRight 2s ease-out;
}

#board-div .node:hover {
    box-shadow: none;
    background-color: rgb(241, 241, 241);
}

#right-div {
    width: 25%;
    background-color: aqua;
    text-align: center;
}

.new-game {
    font-size: 3.5vw;
    height: 6vw;
    border: none;
    padding: 5px;
    background-color: aqua;
}

.new-game a {
    display: block;
    text-decoration: none;
    background-color: white;
    color: black;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    line-height: 1.5;
    border: 1px solid #777;
}

.new-game a:hover {
    box-shadow: .8rem .8rem .8rem rgba(0, 0, 0, .2);
}

.new-game a:active {
    box-shadow: -.2rem -.2rem .2rem rgba(0, 0, 0, .2);
    padding: 3px;
}

@keyframes spinBottomRight {
    0% {
        opacity: .3;
        transform: scale(.2);
        /* transform: translate(2rem, 2rem); */
    }
    50% {
        transform: scale(1);
        /* transform: translate(0); */
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}