*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  line-height: 1.7;
  overflow: hidden; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem);
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem);
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(1440deg); } }

@keyframes fadeInDrop {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spinBottomRight {
  0% {
    border: none;
    opacity: .4;
    transform: scale(0.4); }
  100% {
    opacity: 1;
    transform: scale(1);
    border-bottom: 1px solid black;
    border-right: 1px solid black; } }

@keyframes colorBlast {
  0% {
    transform: scale(5); }
  100% {
    transform: scale(1); } }

.container {
  height: 100vh;
  display: flex;
  width: 100%; }

.info {
  width: 25%;
  background-color: white;
  text-align: center;
  border: .3rem solid aqua;
  border-right: .3rem solid #777; }
  .info__title {
    font-size: 6vw;
    font-weight: 100;
    line-height: 1.5;
    background-color: white; }
  .info__new {
    font-size: 3.5vw;
    line-height: 1.5;
    border: none;
    padding: 5px;
    background-color: white; }
  .info__difficulty {
    display: flex;
    width: 100%; }
    .info__difficulty-btn {
      border: none;
      display: inline-block;
      padding: 1rem 0;
      height: 5rem;
      font-size: 1.6rem;
      text-decoration: none;
      color: black;
      width: 33.3333%;
      background-color: #F8F0E3;
      background-image: linear-gradient(90deg, transparent 0%, transparent 50%, aqua 50%);
      background-size: 250%;
      transition: all .4s ease-in; }

.board {
  width: 50%;
  height: 100vh;
  background-image: radial-gradient(aqua, white);
  animation: colorBlast 2s cubic-bezier(0.87, 0, 0.13, 1); }

.results {
  width: 25%;
  background-color: white;
  text-align: center;
  border: .3rem solid aqua;
  border-left: .3rem solid #777; }

.node {
  margin: 0;
  box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  font-size: 3.5vw;
  text-align: center;
  outline: none;
  color: #777;
  border: 1px solid #777;
  caret-color: white;
  animation: spinBottomRight 0.5s cubic-bezier(0.87, 0, 0.13, 1); }
  .node:not(.c0) {
    border-left: none; }
  .node:not(.r0) {
    border-top: none; }
  .node[class*=c] {
    width: calc(100%/9); }
  .node[class*=r] {
    height: calc(100vh/9); }
  .node:hover, .node:focus {
    cursor: pointer;
    box-shadow: none;
    background-color: rgba(0, 255, 255, 0.9); }
  .node:focus {
    caret-color: transparent;
    color: white; }

.btn {
  display: block;
  text-decoration: none;
  background-color: white;
  color: black;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  width: 100%;
  line-height: 1.5;
  border: 1px solid #777; }
  .btn-active {
    background-position: 100%;
    border: 1px solid black;
    color: black; }
  .btn:hover {
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    box-shadow: -0.2rem -0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    padding: 3px; }
